@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
}

section:nth-child(1) {
  color: #db372b00;
}

section:nth-child(2) {
  color: #42455a;
  backdrop-filter: blur(1px) saturate(100%);
  -webkit-backdrop-filter: blur(1px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

section:nth-child(3) {
  color: #e0ffff;
  backdrop-filter: blur(1px) saturate(100%);
  -webkit-backdrop-filter: blur(1px) saturate(100%);
  background-color: rgba(207, 95, 95, 0.74);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

section:nth-child(4) {
  color: #42455a;
  backdrop-filter: blur(1px) saturate(100%);
  -webkit-backdrop-filter: blur(1px) saturate(100%);
  background-color: rgba(207, 95, 207, 0.74);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c1cb80;
  border-radius: 5px;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  -webkit-animation: fade-bottom 1s ease-in;
          animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  -webkit-animation: fade-left 1s ease-in;
          animation: fade-left 1s ease-in;
}

.active.fade-right {
  -webkit-animation: fade-right 1s ease-in;
          animation: fade-right 1s ease-in;
}

@-webkit-keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.dduududuududu {
  margin-top: 15px;
}

.bildproject {
  padding-top: 20px;
  height: 60vh;
}

p {
  font-size: xx-large;
}

.box1 {
  margin-top: 10px;
}

.Tori {
  font-size: 20px;
}

.bildproject2 {
  width: 30%;
}
/*# sourceMappingURL=Project.css.map */