

/* go on then, styles go here.. knock yourself out! */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

$spacing-unit: 24px;

@keyframes pulsate {
    0% {transform: scale(0.6, 0.6); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1, 1); opacity: 0.0;}
}




h1, h2 {
    color: #fff;
  font-weight: 300;
  line-height: 1.2;
}

.profile-card {
  height: 400px;
  width: 650px;
  position: relative;
  margin: 4em auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
  header {
    backdrop-filter: blur(7px) saturate(74%);
    -webkit-backdrop-filter: blur(7px) saturate(74%);
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 12px;
    border: 2px solid rgba(209, 213, 219, 0.3);
    //-------------------------------blur
    width: 100%;
    height: 100%;
    text-align: center;
    background: -moz-linear-gradient(45deg,  rgba(218, 13, 13, 0.9) 0%, rgba(187, 12, 12, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(206, 0, 0, 0.9)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(224, 36, 36, 0.9) 0%,rgba(197, 10, 10, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    a {
      position: relative;
    }
    
    a:before {
      content:"";
      border: 15px solid rgba(255,255,255,0.3);
      border-radius: 50%;
      height: 90px;
      width: 90px;
      position: absolute;
      left: 0;
      bottom: 3px;
      animation: pulsate 1.6s ease-out;
      animation-iteration-count: infinite; 
      opacity: 0.0;
      z-index: 99;
    }
    
    img {
      position: relative;
      border-radius: 50%;
      height: 90px;
      width: 90px;
      padding: 0;
      margin: 0;
      border: 15px solid transparent;
      margin-top: $spacing-unit / 2;
      z-index: 9999;
      transition: all .3s ease-out;
    }
    
    a:hover img {
     transform: scale(1.06, 1.06);
    }
    
    a:hover:before {
      animation: none;
    }
    
    h1 {
        color: aliceblue;
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        opacity: 0.9;
        margin-bottom: $spacing-unit / 3;
    }
    
    h2 {
        font-size: 20px;
        margin-top: 0;
        opacity: 0.9;
    }
  }
  
  .profile-bio {
      position: absolute;
      bottom: 0;
    
    p {
        padding-right: 15px;
        padding-left: 15px;
        font-size: large;
        color: #fff;
      margin: $spacing-unit, 80px;
      text-align: center;
      opacity: 0.9;
    }
  } 
  
}

//*---------------------------------------//
$redColor: rgba(244,67,54,1);
$blueColor:rgba(33,150,243,1);

.flex-center {
    margin: 4em auto;
  width: 40%;//<---------------
  min-height: 30vh;
  border-radius: 20px;
  background: #000;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: rgb(255, 255, 255);
  &:hover {
    -webkit-animation: icon3d 500ms infinite; //less shake
          animation: icon3d 500ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
  }
  20% {
    text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
  }
  45% {
    text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
  }
  70% {
    text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
  }
  100% {
    text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
  }
}